*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 60%;
    padding: 34px;
    margin:auto;
}
.container h3, p{
    text-align: center;
}
p{
    font-size: 17px;
}
input, textarea{

    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 13px;
    width: 80%;
    margin: 11px 0px;
    padding: 2px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.btn{
    color: white;
    background: blue;
    padding: 13px 12px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
}
